<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Chatbot</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <h1>ChatGPT</h1>
    <p>Ai-powered chatbot</p>
    <input type="text" id="message" placeholder="Ask me anything!">
    <br><br>
    <button onclick=sendMessage()>Submit </button>
    <script src="/static/script.js"></script>
    <div id="chat"></div>
</body>

</html>